# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
build/
dist-ssr/
*.local

# Python virtual environments
env/
.venv/
*.venv/
*.cfg

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg
*.egg-info/
*.env
*.venv
env/
venv/

chefify_backend/env/

# Django specific
local_settings.py
db.sqlite3
media/
staticfiles/
firebase_key.json

# Environment files
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac junk
.DS_Store

.vscode/
ci.yml