{% extends 'main.html' %}
{% load static %}

{% block content %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/styles/community_recipe_room.css' %}">
{% endblock extra_css %}

<div class="typewriter_wrapper">
    <p  class="text">Hello {{request.user.first_name}}!
        {% if user.is_authenticated and recipe.culinarian == user %} 
            This page is currently set to: {{recipe.status}}!
        {% endif %}
    </p>
</div>

<div class="edit-section" >
    <h1>
        Page Status:
        {% if user.is_authenticated and recipe.culinarian == user %} 
            {% if recipe.status == 'private' %}
                Private
            {% elif recipe.status == 'public' %}
                Public
            {% elif recipe.status == 'friends-only'  %}
                Friends Only
            {% endif %}
        {% endif %}
    </h1>


    {% if request.path|slice:"0:23" == '/community_recipe_room/' %}
        {% if user.is_authenticated and recipe.culinarian == user %} 
            {% if recipe.status ==  'private' %}
                <div class="button-wrapper">
                    <form method="POST" class="form1"  actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-public">
                        <a onclick="submitForm1(); return false;">Turn Page "Public"</a>
                    </form>
                </div>
                <div class="button-wrapper">
                    <form method="POST" class="form2" actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-friends-only">
                        <a  onclick="submitForm2(); return false;">Turn Page "Friends Only" </a>
                    </form>
                </div>
            {% elif recipe.status ==  'public' %}
                <div class="button-wrapper">
                    <form method="POST" class="form1" actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-private">
                        <a  onclick="submitForm1(); return false;">Turn Page "Private"</a>
                    </form>
                </div>
                <div class="button-wrapper">
                    <form method="POST" class="form2" actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-friends-only">
                        <a  onclick="submitForm2(); return false;">Turn Page "Friends Only"</a>
                    </form>
                </div>
            {% elif recipe.status == 'friends-only' %}
                <div class="button-wrapper">
                    <form method="POST" class="form1" actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-public">
                        <a  onclick="submitForm1(); return false;">Turn Page "Public"</a>
                    </form>
                </div>
                <div class="button-wrapper">
                    <form method="POST" class="form2" actions="{% url 'community-recipe-room' recipe.id}">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="edit-page"> 
                        <input type="hidden" name="status" value="status-private">
                        <a  onclick="submitForm2(); return false;">Turn Page "Private"</a>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <a href="{% url 'delete-recipe' recipe.id %}">
        Delete Page
    </a>

</div>

<hr>

<div class="home-container">
    <div id="ingredient-list-wrapper">
        <h1>Ingredients</h1>

        {% if user.is_authenticated and recipe.culinarian == user %} 
            <a class="crud-components" href="{% url 'recipe-component-creation' recipe.id %}"><u>Edit Recipe Components</u></a>
        {% endif %}

        {% for component in recipe.recipe_components_list.all %}
        <div class="component-list">
            <h2 class="component-name"><u>{{component.name}}</u></h2>
            <div class="list-wrapper">
                {% for ingredient in component.ingredients_list.all %}
                    <p class="ingredient-unit">{{ingredient}}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="steps-wrapper">
        <h1> Recipe | {{recipe.categories}}: {{recipe.name}} </h1>
        {% if user.is_authenticated and recipe.culinarian == user %} 
            <a class="crud-components" href="{% url 'add-steps' recipe.id %}"><u>Add Steps</u></a> 
        {% endif %}
        <div>
            {% for step in steps %}
                <h3>Step {{forloop.counter}}: </h3>
                <p class="steps style_text">{{step.description}}
                    {% if user.is_authenticated and recipe.culinarian == user %}
                        <a href="{% url 'update-steps' step.id %}">Edit</a>
                        <a href="{% url 'delete-steps' step.id %}">Delete</a>
                    {% endif %}
                </p>
            {% endfor %}    
        </div>
    </div>

    <div id="discussion-wrapper">
        <h1> Discussion</h1>
        <a class="crud-components" href="#discussion-submit"><u>Add Message</u></a>
        {% for user_message in user_messages %}
            <p class="message style_text">{{user_message.body}} - <span style="color:#B7B5B3">{{user_message.user}}</span> @{{user_message.created}}
                {% if user.is_authenticated and user_message.user == user %}
                    <a class="delete-button delete-button--alt" href="{% url 'community-recipe-room' recipe.id %}?del_id={{user_message.id}}"> Del. </a>
                {% endif %}
            </p>
        {% endfor %}
        <form class="discussion-wrapper" method="POST">
            {% csrf_token %}
            <textarea name="discussion-box" class="discussion-box"></textarea>
            <input type="hidden" name="form-type" value="comment"> 
            <button id="discussion-submit" type="submit">Post</button>
        </form>
    </div>
</div>

<script>
    function submitForm1() {
        var forms = document.getElementsByClassName("form1");
        console.log("gaty")
        for (var i = 0; i < forms.length; i++) {
                if (forms[i].style.display !== 'none') {
                    forms[i].submit();
                    return;
                }
        }
    }
    function submitForm2() {
        var forms = document.getElementsByClassName("form2");
        console.log("gatsssy")
        for (var i = 0; i < forms.length; i++) {
                if (forms[i].style.display !== 'none') {
                    forms[i].submit();
                    return;
                }
        }
    }
</script>
{% endblock content %}