{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/delete.css'%}">
<a href="{{request.META.HTTP_REFERER}}">Go back</a>

<form method="POST" class="delete-wrapper">
    {% csrf_token %}
    <!-- Your form fields here -->
    <p> Are you sure you want to delete "{{obj}}"?</p>
    <input type="hidden" name="next" value="{{ '/' }}">
    <button type="submit" class="del-btn">Submit</button>
</form>

{% endblock content %}