{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr 3fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h1>Categories</h1>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for category in categories %}
            <div>
                <a href="{% url 'home' %}?q={{category.name}}">{{category.name}}</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>Community Recipes</h1>
        <hr>
        {% for recipe in c_recipe %}
            <h2><a href="{% url 'community-recipe-room' recipe.id %}">{{recipe.name}}</a></h2>
        {% endfor %}
    </div>
    <div>
        <h1>Your Recipes </h1>
        <hr>

        {% if user.is_authenticated %}

        {% else %}
        <p>Login to view your recipes!</p>
        {% endif%}
    </div>

    <div>
        <h1>Your Ingredients</h1> <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'add-ingredient-user' user.id %}">Add Ingredient</a>
            {% if user_profile_ingredient_list %}
                {% for ingredient in user_profile_ingredient_list %}
                    <p>{{ingredient}}</p>
                {% endfor %}
            {% else %}
                <p>You have no ingredients! Add some!</p>
            {% endif %}
        {% else %}
            <p>Login to view your ingredients!</p>
        {% endif %}
    </div>
</div>

{% endblock content %}