{% extends 'main.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/styles/home.css' %}">
{% endblock extra_css %}

<div class="typewriter_wrapper">
    <p  class="text">Hello {{request.user.first_name}}!</p>
</div>

<div class="home-container">
    <div id="col_categories">
        <h1 class="home_header">Categories</h1><hr>
        {% include 'base/home_components/categories.html' %}
    </div>
    <div id="col_crecipe">
        <h1 class="home_header">Community Recipes</h1><hr> 
        {% include 'base/home_components/community_recipe.html' %}
    </div>
    <div id="col_urecipes">
        <h1 class="home_header">Your Recipes </h1><hr>
        {% include 'base/home_components/your_recipes.html'%}
    </div>
    <div id="col_uingredients">
        <h1 class="home_header">Your Ingredients</h1> <hr>
        {% include 'base/home_components/your_ingredients.html' %}
    </div>
    <div id="col_shoppinglist">
        <h1 class="home_header">Shopping List</h1><hr>
        {% include 'base/home_components/shopping_list.html' %}
    </div>
</div>

<script>
    function toggleColumns() {
        document.querySelector('.home-container').classList.toggle('show-set-2');
    }
</script>

{% endblock content %}