.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.component-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem auto;
    background-color: cadetblue;
}

/* Custom styles for Select2 elements */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black; /* Change selected item text color */
}

.select2-container--default .select2-results__option {
    color: black; /* Change dropdown items text color */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black; /* Change text color of selected items in multi-select */
}

/* Optional: Change background color for better visibility */
.select2-container--default .select2-selection--single {
    background-color: white; /* Change background color of selected item */
}

.select2-container--default .select2-results__option--highlighted {
    background-color: #d0d0d0; /* Change highlighted item background color */
    color: black; /* Change highlighted item text color */
}

.input_style{
    width: 75%; 
    padding: 8px;
    margin: auto; 
    box-sizing: border-box; 
    outline: none;
    text-align: center;

}

.ingredient-input{
    width: 75%; 
    padding: 8px;
    margin: auto; 
    box-sizing: border-box; 
    text-align: center;
    outline: none;
} 