#sl_add{
    font-size: 1.25rem;
    text-align: center;
    margin:1rem auto;
}


.sl_wrapper{
    background-color: #b7b5b3;
    padding: 0.5rem;
    border-radius: 10px;
    color: black;
    max-width: 80%;
    margin: 1rem auto;
}

.sl_header{
    color: black;
    font-size: 1.25rem;
    text-align: center;
}

.sl_name{
    font-weight: 700;
    margin:0.5rem auto;
}

.sl_crud{
    color:black;
}

.sl_crud:visited{
    color:black;
}

.sl_crud:hover{
    color: #36454F;
}

ul{
    padding: 0;
    display:grid;
    place-items: center;
    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));
}

.sl_item{
    text-align: center;
    margin: 0.5rem;
    list-style-type: none;

    font-size: 1.25rem;
    font-weight: 500;
}