.style_text{
    text-align: center;
}

#in_add{
    margin: 1rem auto;
}

.in_item{
    color:black;
    margin:0.5rem;
    font-size: 1.25rem;
}

#in_item_wrapper{
    display: grid;
    background-color: #b7b5b3;
    border-radius: 0.5rem;
    place-content: center;
    max-width: 80%;
    margin: auto;
}

#in_crud_wrapper{
    display: flex;
    flex-direction: row;
}