.style_text{
    font-style: normal;
    font-weight: 600px;
    font-optical-sizing: auto;
    font-family: "Roboto Mono", monospace;
    font-size: 1.25rem;
    text-align: center;
}

#in_add{
    margin: 1rem auto;
}

.in_item{
    color:black;
    margin:0.5rem;
}

#in_item_wrapper{
    background-color: #b7b5b3;
    border-radius: 0.5rem;
    display: grid;
    place-content: center;
    max-width: 80%;
    margin: auto;
}

#in_crud_wrapper{
    display: flex;
    flex-direction: row;
}

.ingredient-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem auto;
}

.ingredient-input input{
    width: 75%; 
    padding: 8px;
    margin: auto; 
    border-radius: 20px;
    box-sizing: border-box; 
    outline: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
} 