/* Form Input Section */

.component-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem auto;
}

.component-input input {
    width: 75%; 
    padding: 8px;
    box-sizing: border-box; 
    outline: none;
    text-align: center;
}

.category-submit-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:1rem auto;
}

#your-recipe-submit{
    width: 25%;
}

#searchable-dropdown{
    width: 50%;
}

/* Select2 */

/* Custom styles for Select2 elements */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black; /* Change selected item text color */
    text-align: center;
}

.select2-container--default .select2-results__option {
    color: black; /* Change dropdown items text color */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black; /* Change text color of selected items in multi-select */
}

/* Optional: Change background color for better visibility */
.select2-container--default .select2-selection--single {
    background-color: white; /* Change background color of selected item */
}

.select2-container--default .select2-results__option--highlighted {
    background-color: #d0d0d0; /* Change highlighted item background color */
    color: black; /* Change highlighted item text color */
}

/* Recipe Display */

.u_recipes{
    max-width: 80%;
    background-color: #434234;
    margin: 1rem auto;
    padding:0.5rem;
    text-align: center;
    border-radius: .5rem;

    font-size: 1.25rem;
    font-weight: 500;
}