*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: #141301;
    color: white;
    min-height: 100vh;
    margin:0;
    padding:0;
}

h1{
    text-align: center;
    font-weight: 700;
}

.delete-button{
    color: #B80C09;
}

.delete-button:visited{
    color:#B80C09;
}

.delete-button:hover{
    color: #b7b5b3;
}

.delete-button--alt:hover{
    color:black;
}

a{
    text-decoration: none;
    color: #e5e7e6;
}

a:visited{
    color:#e5e7e6;
}

a:hover{
    color: #b7b5b3;
}

.typewriter_wrapper{
    display: inline-block;
    padding: 10px;
}

.text{

    border-right:5px solid;
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    animation:
        typing 2s steps(20),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% {border-color:transparent}
}

@keyframes typing{
    from {width:0}
}

@media(max-width: 1200px) {
    .home-container{
        grid-template-columns: 2fr 2fr;
    }

    #col_categories, #col_uingredients, #col_shoppinglist{
        display:none;
    }

    .show-set-2 #col_crecipe, .show-set-2 #col_urecipes {
        display: none; /* Hide the first set of columns */
    }
    
    .show-set-2 #col_uingredients, .show-set-2 #col_shoppinglist {
        display: block; /* Show the second set of columns */
    }

}
