@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&family=Playfair+Display:ital@0;1&family=Roboto+Slab:wght@888&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-duck-pale-yellow: #fcf0c3;
    --color-duck-less-pale-yellow: #ebe4d0;
    --color-duck-yellow: #ffd323;
    --color-duck-orange: #f08b5c;
    --color-duck-dark-orange: #d7754d;
    --color-duck-white: #f08b5c;
    --color-duck-dark-white: #e4d9d9;
    --color-pepper-green: #bec66d;
    --color-pepper-dark-green: #b2b764;
    --color-tmp: #b9a5d3;

    --color-text: white;
    --color-darker-text: #e9e9e9;
    --color-alt-text: black;

    --color-bg: #32373b;
    --color-dark: #4a5859;
    --color-dark-light: #576566a3;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.xxx {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.xxx:hover {
    &::-webkit-scrollbar-thumb {
        background-color: rgba(235, 228, 208, 1);
        border-radius: 10px;
    }
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}

/* Hide radio */
.rate > input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rate > .label {
    float: right;
}

/* The star of the show */
.rate > .label:before {
    display: inline-block;
    font-size: 2rem;
    padding: 0.3rem 0.2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
.rate input:checked ~ .label, /* color current and previous stars on checked */
  .rate .label:hover, .label:hover ~ .label {
    color: var(--color-duck-yellow);
} /* color previous stars on hover */

/* Hover highlights */
.rate input:checked + .label:hover, input:checked ~ .label:hover, /* highlight current and previous stars */
  .rate input:checked ~ .label:hover ~ .label, /* highlight previous selected stars for new rating */
  .rate .label:hover ~ input:checked ~ .label /* highlight previous selected stars */ {
    color: var(--color-duck-pale-yellow);
}
