{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/shopping_list.css'%}">
{% endblock extra_css %}

{% if user.is_authenticated %}
    <form method="POST" action="" class="item-input">
        {% csrf_token %}
        <input type="hidden" name="shopping-list-input" value="form-name-shopping-list">
        <input class="input" type="text" name="name-shopping-list" placeholder="New shopping list ... ">
    </form>
{% else %}
    <p><a href="{% url 'login-page' %}">Login </a>to view your shopping lists!</p>
{% endif %}

<div>
    {% if user_shopping_list %}
        {% for shopping_list in shopping_lists %}
            <div class="sl_wrapper">
                
                <div class="sl_header">
                    <div class="sl_name">List {{ forloop.counter }}: {{ shopping_list.list_name }}</div>
                    <div style="margin-bottom: 0.5rem;">
                        <a class="sl_crud" href="{% url 'add-shopping-list' shopping_list.id %}">Edit List</a> 
                    </div>
                    <hr style="border-color: black;">
                </div>
                
                <ul>
                    {% for ingredient in shopping_list.ingredients.all %}
                        {% for ingredient_shopping_list in ingredient.ingredientshoppinglist_set.all %}
                            {% if ingredient_shopping_list.shopping_list == shopping_list %}
                                <li class="sl_item">{{ ingredient.name }} - Qty: {{ ingredient_shopping_list.get_quantity }}</li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        {% if user.is_authenticated %}
            <h4>You don't have any list yet! Try adding one!</h4>
        {% endif %}
    {% endif %}
</div>