{% extends 'main.html' %}

{% load static %}

{% block content %}

    {% block extra_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/add_ingredient.css'%}">
    {% endblock extra_css %}

    <h1>Add Ingredient</h1>
    <div class="home-container">
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock%}
